<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFC2Fa4zsEolC6u_7pR-f7rJtpvoGfdFA</string>
	<key>GCM_SENDER_ID</key>
	<string>885235360476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.syntax-Institut.Rituals</string>
	<key>PROJECT_ID</key>
	<string>rituals-3bb39</string>
	<key>STORAGE_BUCKET</key>
	<string>rituals-3bb39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885235360476:ios:5fde35228be9a48db30a19</string>
</dict>
</plist>